.nav {
    display: flex;
    flex-direction: column;
    background: var(--night);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 9998;
}

@media (max-width: 767px) {
    .navOpen {
        transform: translateX(0);
        background: var(--night);
        height: 100vh;
    }
}

.brackets {
    margin: 0 3em;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.nav li {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    padding-block: 1.5em;
    display: block;
}

.nav a:visited {
    color: white;
}

.nav a:hover,
.nav a:focus {
    color: var(--moss);
    outline: none;
}

.nav a:active {
    color: var(--rust);
}

.nav button {
    font-size: 2rem;
    padding: 1em;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0);
    align-self: flex-end;
    cursor: pointer;
}

@media (min-width: 480px) and (max-width: 768px) {
    .nav button {
        margin-right: 0.6em;
    }
}

@media (min-width: 768px) {
    .nav {
        position: unset;
        background: unset;
        align-items: center;
        flex-direction: row;
        width: 60%;
        transform: unset;
    }

    .nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
    }

    .nav li {
        font-size: 0.875rem;
        width: unset;
    }

    .nav span {
        display: none;
    }

    .nav button {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav li {
        font-size: 1rem;
    }

    .nav ul {
        gap: 2em;
    }
}