.headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-top: 1.5em;
    transition: all 0.5s ease-in-out;
}

.fixedHeader {
    padding: 1.5em 1em;
    height: 60px;
    background: rgba(15, 19, 22, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.hidden {
    visibility: hidden;
}


.logo {
    display: flex;
    gap: 1em;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: var(--moss);
    text-decoration: none;
}

.logoTitle {
    text-shadow: 0px 0px 5px rgba(15, 19, 22, 0.8);
}

.logo:hover,
.logo:focus {
    color: var(--rust)
}

.profileImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.burger {
    font-size: 1.5rem;
    color: white;
    padding: 0.75em;
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

@media (min-width: 480px) {
    .fixedHeader {
        padding: 1.5em 2em
    }
}

@media (min-width: 768px) {
    .fixedHeader {
        padding: 1.5em 3em
    }

    .logoTitle {
        font-size: 1.1rem;
    }

    .burger {
        display: none;
    }
}

@media (min-width: 1024px) {
    .fixedHeader {
        padding: 1.5em 7em;
    }

    .logoTitle {
        font-size: 1.25rem;
    }
}