.title {
    position: relative;
    z-index: 1;
    width: fit-content;
    margin: 1em auto;
}

.title::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 15%;
    height: 20px;
    width: 105%;
    background: var(--blue);
    z-index: -1;
}

.workItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workItem{
    background: var(--jet);
    max-width: 500px;
    height: 300px;
    margin-bottom: 2em;
}

.workItem img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.workItemText {
    padding: 0.5em 2em;
}

.workItemText h3 {
    margin: 0
}

.workItemText p {
    margin: 0.3em 0
}
