.work {
    padding-bottom: 3em;
}

.title {
    position: relative;
    z-index: 1;
    width: fit-content;
    margin: 1.5em auto;
}

.title::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 15%;
    height: 20px;
    width: 105%;
    background: var(--blue);
    z-index: -1;
}

.workItemsContainer {
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    justify-content: center;
    gap: 2em;
}

@media (min-width: 768px) {
    .workItemsContainer {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 2em;
    }
}
