.layout {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.section {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(auto, 1200px) minmax(1em, 1fr);
}

.section > .container {
    grid-column: 2 / -2;
}

@media (min-width: 480px) {
    .section {
        grid-template-columns: minmax(2em, 1fr) minmax(auto, 1200px) minmax(2em, 1fr);
    }
}

@media (min-width: 768px) {
    .section {
        grid-template-columns: minmax(3em, 1fr) minmax(auto, 1200px) minmax(3em, 1fr);
    }
}

@media (min-width: 1024px) {
    .section {
        grid-template-columns: minmax(4em, 1fr) minmax(auto, 1200px) minmax(4em, 1fr);
    }
}