.expertise {
    background-image: url('../assets/garden-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(15, 19, 22, 0.8);
    background-blend-mode: overlay;
    background-attachment: fixed;
    padding: 0 1em;
}

.title {
    position: relative;
    z-index: 1;
    width: fit-content;
    margin: 1em auto;
}

.title::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 15%;
    height: 20px;
    width: 105%;
    background: var(--moss);
    z-index: -1;
}

.expertiseBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.expertiseBox {
    text-align: center;
    padding: 3em 1em;
    border: 3px solid white;
}

.expertiseTitleTop {
    position: relative;
    width: fit-content;
    margin: 1em auto;
    z-index: 1;
}

.expertiseTitleTop::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 5%;
    height: 15px;
    width: 105%;
    background: var(--blue);
    z-index: -1;
}

.expertiseDescription {
    font-size: 1rem;
}

.skillsTitle {
    margin-top: 2em;
    text-align: center;
}

.skillsContainer {
    margin-block: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.skillItem {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    padding: 0.75em 1.625em;
    border: 2px solid white;
    transition: background 1s ease-in-out;
}

.skillItem:hover {
    background: var(--rust);
}