.articlesContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto 2em;
}

.about p {
    max-width: 500px;
}

.title {
    position: relative;
    align-self: center;
    width: fit-content;
    margin: 0 auto 1.5em;
}

.title::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 15%;
    height: 20px;
    width: 105%;
    background: var(--rust);
    z-index: -1;
}

.articleTitle {
    position: relative;
    width: fit-content;
}

.articleTitle::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 8%;
    height: 15px;
    width: 105%;
    background: var(--moss);
    z-index: -1;
}

@media (min-width: 768px) {
    .articlesContainer {
        max-width: 900px;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }
}