.workItem{
    background: var(--jet);
    margin-bottom: 2em;
    flex: 1;
}

.workItem img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.workItemText {
    padding: 0.5em 2em;
}

.workItemText h3 {
    margin: 0
}

.workItemText p {
    margin: 0.3em 0
}