.title {
    font-size: 3rem;
}

.title::after {
    content: "";
    display: block;
    height: 2px;
    width: 60%;
    margin: 20px 0;
    background: white;
}

.projectInfo {
    display: flex;
    flex-direction: column;
}

.subTitle {
    font-size: 1.25rem;
}

.description {
    max-width: 500px;
}

.techUsed {
    max-width: 500px;
    align-self: center;
}

.techTitle {
    font-size: 1.75rem;
    text-align: center;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

.linkTitle {
    text-align: center;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.link {
    color: white;
    text-decoration: none;
    background: var(--purple);
    padding: 1em 2.5em
}

.imageDisplay {
    margin-top: 2em;
    border: 3px solid white;
}

.imageDisplay img {
    width: 100%;
    object-fit: cover;
    margin-bottom: -8px;
}

@media (min-width: 480px) {
    .linkContainer {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }
}

@media (min-width: 768px) {
    .projectInfo {
        flex-direction: row;
        justify-content: space-around;
        gap: 2em;
    }

    .projectMainInfo {
        min-width: 300px;
    }

    .title {
        font-size: 4.5rem;
    }

    .techUsed {
        padding-left: 2em;
    }
    
    .techTitle {
        text-align: unset;
    }

    .list {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}